TEST_ENV=local

BASE_URL=http://127.0.0.1:8888/api/private/v1
CASE_FILE=./data/test_cases.yaml

HTTP_CONNECT_TIMEOUT=3.05
HTTP_READ_TIMEOUT=10

DB_ENABLED=false
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=your_database
DB_USER=your_username
DB_PASSWORD=your_password